{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    {%if created_information %}
        <div class="alert alert-{{alert_level}}">
            <strong>{{message_tag}}</strong><b> {{created_information}} </b>{{extra_message}}
        </div>
    {% endif %}
    <div class="row">
        <form id="formID" class="form-horizontal" data-collabel="3" data-alignlabel="left"  data-parsley-validate method="post" action="payrollSetting?u=1">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2><strong>Payroll</strong> Setting</h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Set PF Condition</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control"  parsley-required="true" parsley-error-container="div#select-com-error">
                                        <option value="">Please choose</option>
                                        <option value="nepal" selected>Yes</option>
                                        <option value="usa">No</option>
                                    </select>
                                    <div id="select-com-error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Set CIT Condition</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control"  parsley-required="true" parsley-error-container="div#select-com-error-1">
                                        <option value="">Please choose</option>
                                        <option value="nepal" selected>Yes</option>
                                        <option value="usa">No</option>
                                    </select>
                                    <div id="select-com-error-1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Set Insurance Condition</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control"  parsley-required="true" parsley-error-container="div#select-com-error-2">
                                        <option value="">Please choose</option>
                                        <option value="nepal" selected>Yes</option>
                                        <option value="usa">No</option>
                                    </select>
                                    <div id="select-com-error-2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Set Allowance</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Bond And Security Condition</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control"  parsley-required="true" parsley-error-container="div#select-com-error-3">
                                        <option value="">Please choose</option>
                                        <option value="nepal" selected >Yes</option>
                                        <option value="usa">No</option>
                                    </select>
                                    <div id="select-com-error-3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Set Bonus</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Set Gratiuity </label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-12">
                <section class="panel">
                    <div class="form-group offset">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-theme">Submit</button>
                                <button type="reset" class="btn" onclick="$('#formID').parsley('destroy')"> Reset form</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{%block extra_script%}

{%endblock%}
