{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    {%if created_information %}
        <div class="alert alert-{{alert_level}}">
            <strong>{{message_tag}}</strong><b> {{created_information}} </b>{{extra_message}}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Payroll</strong> </h2>
                    <label class="color"><em><strong>Something goes here</strong></em></label>
                    <a href="editSalary" class="btn btn-primary" style="margin-right:15px; float:right;">
                        <i class="fa fa-pencil"></i> Create Salary Sheet
                    </a>
                </header>

                <div class="panel-body">
                    <form>
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped"  id="table-example">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Employee ID</th>
                                        <th valign="middle">Month</th>
                                        <th>Year</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    {% for month in months%}
                                      {% for data in demo_data%}
                                    <tr>
                                        <td>{{forloop.parentloop.counter}}</td>
                                        <td>{{data.name}}</td>
                                        <td>00{{forloop.counter}}</td>
                                        <td valign="middle">{{month}}</td>
                                        <td>2017</td>
                                        <td>$ 20000</td>
                                        <td><span class="label label-success">Paid</span></td>
                                        <td>
                                            <span class="tooltip-area">
                                                <a href="salary?n={{data.name}}&&m={{month}}&&p=20000"  class="btn btn-default btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                            </span>
                                        </td>
                                    </tr>
                                      {%endfor%}
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{%block extra_script%}

{%endblock%}
