{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    <div class="row">
        <form id="formID" class="form-horizontal" data-collabel="3" data-alignlabel="left"  data-parsley-validate>
            <div class="col-lg-10">
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2><strong>Salary</strong> Bracket</h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">0 - 20,00,000</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                    <input type="text" class="form-control" parsley-required="true" disabled="true" value="0">
                                    <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">20,00,000 - 50,00,000</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                    <input type="text" class="form-control" parsley-required="true" disabled="" value="5">
                                    <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">50,00,000 - 1,00,00,000</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                    <input type="text" class="form-control" parsley-required="true" disabled="" value="10">
                                    <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">1,00,00,000 - 2,00,00,000</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                    <input type="text" class="form-control" parsley-required="true" disabled="" value="15">
                                    <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">2,00,00,000 - 3,00,00,000</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                    <input type="text" class="form-control" parsley-required="true" disabled="" value="20">
                                    <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">3,00,00,000+</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                    <input type="text" class="form-control" parsley-required="true" disabled="" value="25">
                                    <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='brc'>

                        </div>
                        <div class="form-group offset">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:void();" class="btn btn-primary add-brc"><i class="fa fa-plus"></i> Add</a>
                                <a href="javascript:void();"class="btn btn-default edit-brc"><i class="fa fa-pencil"></i>Edit</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2 style="float:left"><strong>Dependency</strong> Waiver </h2>
                        <a href="javascript:void(0);" class="btn btn-primary add-dep" style="margin-right:15px; float:right;">
                    <i class="fa fa-plus"></i>
                </a>
                        <a href="javascript:void(0);" class="btn btn-primary edit-dep" style="margin-right:15px; float:right;">
                    <i class="fa fa-pencil"></i>
                </a>
                    </header>
                    <div class="panel-body">
                        <div class="alert alert-success editrow" style="display:none;">
                            <strong>Notice!</strong> Click on the table row to edit the content.
                        </div>
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Particular</th>
                                        <th>Number</th>
                                        <th>Waiver Total</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody align="center" class="dep">
                                    <tr>
                                        <td colspan="3"><b>Annual Basic Salary</b></td>
                                        <td><b>1,00,00,000</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><b>20% Exemption</b></td>
                                        <td><b>1,00,000</b></td>
                                    </tr>
                                    <tr>
                                        <td>Parents Limit</td>
                                        <td>2</td>
                                        <td>10,00,000</td>
                                        <td>20,00,000</td>
                                    </tr>
                                    <tr>
                                        <td>Spouse Limit</td>
                                        <td></td>
                                        <td>10,00,000</td>
                                        <td>10,00,000</td>
                                    </tr>
                                    <tr>
                                        <td>Child Limit</td>
                                        <td>2</td>
                                        <td>5,00,000</td>
                                        <td>10,00,000</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><b>Total</b></td>
                                        <td><b>40,00,000</b></td>
                                    </tr>
                                    <tr>
                                        <td>SSB</td>
                                        <td>12</td>
                                        <td>6000</td>
                                        <td>72,000</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><strong>Total Taxable Income</strong></td>
                                        <td>1,00,00,000 - 1,00,000 - 40,00,000 - 72,000 = 49,28,000</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><strong>Total Deductible</strong> </td>
                                        <td>49,28,000 - 20,00,000 = 29,28,000*0% </br> 29,28,000*5% = 1,46,400</td>
                                    </tr>

                                    <tr>
                                        <td colspan="3"><strong>Net Salary Receivable</strong></td>
                                        <td>1,00,00,000 - 1,46,400 = 98,53,600</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{%block extra_script%}

{%endblock%}
