{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    <div class="row">
        <form id="formID" class="form-horizontal" data-collabel="3" data-alignlabel="left"  data-parsley-validate method="post" enctype="multipart/form-data" action="payroll?u=1">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2><strong>Upload Salary Sheet</strong> </h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Date</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group date form_datetime" data-picker-position="bottom-left"  data-date-format="dd MM yyyy - HH:ii p" >
                                        <input type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-times"></i></button>
                                            <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Upload CSV</label>
                            <div>

                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group">
                                        <div class="form-control uneditable-input" data-trigger="fileinput">
                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-inverse btn-file">
                                            <span class="fileinput-new">SELECT FILE TO UPLOAD</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="...">
                                        </span>
                                        <a href="#" class="input-group-addon  btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div><!-- //fileinput-->

                            </div>
                        </div><!-- //form-group-->
                    </div>
                </section>
            </div>
            <div class="col-lg-12">
                <section class="panel">
                    <div class="form-group offset">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-theme">Submit</button>
                                <button type="reset" class="btn" onclick="$('#formID').parsley('destroy')"> Reset form</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{%block extra_script%}

{%endblock%}
