{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    {%if created_information %}
        <div class="alert alert-{{alert_level}}">
            <strong>{{message_tag}}</strong><b> {{created_information}} </b>{{extra_message}}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Attendance</strong> list</h2>
                     <a href="uploadCSV" class="btn btn-primary" style="margin-right:15px; float:right;">
                    <i class="fa fa-upload"></i> Upload Attendance Sheet
                </a>
                </header>

                <div class="panel-body">
                    <form>
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped"  id="table-example">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Employee ID</th>
                                        <th>Employee Name</th>
                                        <th>Login/Logout Time </th>
                                        <th>Date</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    <tr>
                                        <td>1</td>
                                        <td>001</td>
                                        <td>Neiha Joshi</td>
                                        <td>09:00:00 / 17:10:34</td>
                                        <td>5th Sep, 2017</td>
                                        <td><span class="label label-success ">Full Day Present</span></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>002</td>
                                        <td>Sabnam Tamrakar</td>
                                        <td>Not Available</td>
                                        <td>5th Sep, 2017</td>
                                        <td><span class="label label-danger ">Absent</span></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>003</td>
                                        <td>Niranjan Shrestha</td>
                                        <td>12:00:00 / 16:10:34</td>
                                        <td>5th Sep, 2017</td>
                                        <td><span class="label label-warning ">Late</span></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>004</td>
                                        <td>Samita Shrestha</td>
                                        <td>Not Available</td>
                                        <td>5th Sep, 2017</td>
                                        <td><span class="label label-danger ">Absent</span></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>005</td>
                                        <td>Shristi Shakya</td>
                                        <td>12:00:00 / 16:10:34</td>
                                        <td>5th Sep, 2017</td>
                                        <td><span class="label label-warning ">Late</span></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>006</td>
                                        <td>Aashish Adhikari</td>
                                        <td>12:00:00 / 16:10:34</td>
                                        <td>5th Sep, 2017</td>
                                        <td><span class="label label-warning ">Late</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{%block extra_script%}

{%endblock%}
