{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Over Time</strong> list</h2>
                </header>

                <div class="panel-body">
                    <form>
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped"  id="table-example">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Employee Name</th>
                                        <th>Employee ID</th>
                                        <th>Overtime Hour</th>
                                        <th>Date</th>
                                        <th>Reason</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    {% for data in demo_data %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{data.name}}</td>
                                            <td>00{{forloop.counter}}</td>
                                            <td>12</td>
                                            <td>15th September,2017</td>
                                            <td>HRIS Project testing</td>
                                            <td><span class="label label-<?= $u['class'] ?>">{{data.status}}</span></td>
                                            <td>
                                                <span class="tooltip-area">
                                                    <a data-toggle="modal" href="#md-add-event-<?= $i++; ?>" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
                                                    <a href="javascript:void(0)"  class="btn btn-default btn-sm btn-delete" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                </span>
                                            </td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% for data in demo_data %}
<div id="md-add-event-{{forloop.counter}}" class="modal fade md-slideUp" tabindex="-1" data-width="450"  data-header-color="inverse">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Overtime Requisition</h4>
    </div>
    <!-- //modal-header-->

        <div class="modal-body" style="padding-bottom:0">
            <form id="addEvent">
                <div class="form-group">
                    <label class="control-label">Employee Name</label>
                    <input type="text" class="form-control" id="event_title" name="event_title" value="<?= $u['name']?>">
                </div>
                <div class="form-group">
                    <label class="control-label">Employee ID</label>
                    <input type="text" class="form-control" id="event_title" name="event_title" value="00<?= $i++;?>">
                </div>
                <div class="form-group">
                    <label class="control-label">Overtime Hour</label>
                    <input type="text" class="form-control" id="event_title" name="event_title" value="<?= mt_rand(1, 10) ?>">
                </div>
                <div class="form-group">
                    <label class="control-label">Date</label>
                    <input type="text" class="form-control" id="event_title" name="event_title" value="<?= mt_rand(4, 30) ?>th Sep,2017">
                </div>
                <div class="form-group">
                    <label class="control-label">Reason</label>
                    <textarea class="form-control" id="event_title" name="event_title">HRIS Testing</textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">(Supervisor) Approved By:</label>
                    <input type="text" class="form-control" id="event_title" name="event_title" value="Rohit Kumar">
                </div>
                <div class="form-group">
                    <hr>
                    <button type="submit" class="btn btn-primary">Bill to Account</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Disapproved</button>
                </div>
            </form>
        </div>

    <!-- //modal-body-->
</div>
{% endfor %}
{% include "delete-models.html" %}
{% endblock %}

{%block extra_script%}

{%endblock%}
