{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Event Calendar</strong> </h2>
                </header>
                <div class="tabbable">
                    <ul class="nav nav-tabs" data-provide="tabdrop">
                        <li><a href="#" class="change" data-change="prev"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="#" class="change" data-change="next"><i class="fa fa-chevron-right"></i></a></li>
                        <li class="active"><a href="#" data-view="month" data-toggle="tab" class="change-view">Month</a></li>
                        <li><a href="#" data-view="agendaWeek" data-toggle="tab" class="change-view">Week</a></li>
                        <li><a href="#" data-view="agendaDay" data-toggle="tab" class="change-view">Day</a></li>
                        <li><a href="#" class="change-today">Today</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="row">

                            <div class="col-lg-8" >
                                <div id="calendar"></div>
                            </div>
                            <!-- //content > row > col-lg-8 -->

                            <div class="col-lg-4">
                                <div id="external-events">
                                    <h3><strong>EVENTS</strong> Draggable </h3>
                                    <hr>
                                    <span class="external-event label bg-warning">New Year</span>
                                    <span class="external-event label bg-theme">Holiday</span>
                                    <span class="external-event label bg-inverse">Fashion shows</span>
                                    <span class="external-event label bg-info">Exhibitions and fairs</span>
                                    <span class="external-event label bg-theme-inverse">Historic building tours</span>
                                    <span class="external-event label bg-primary">Dances</span>
                                    <span class="external-event label bg-purple">Fashion shows</span>
                                    <span class="external-event label bg-green">Exhibitions and fairs</span>
                                    <span class="external-event label bg-palevioletred">Guided walks</span>
                                </div>
                                <hr>
                                <a class="btn btn-inverse" data-toggle="modal" href="#md-add-event"><i class="fa fa-plus"></i></a>
                                <button class="btn btn-inverse slide-trash"><i class="fa fa-trash-o"></i></button>
                            </div>
                            <!-- //content > row > col-lg-4 -->

                        </div>
                        <!-- //content > row-->
                    </div>
                    <!-- //tab-content -->
                </div>
                <!-- //tabbable -->


        </div>
        <!-- //main-->

        <div id="slide-trash">
            <section><i class=" fa fa-trash-o"></i><span>Drop here to detele</span></section>
        </div>

        <!--
        ///////////////////////////////////////////////////////////////////
        //////////     MODAL MESSAGES     //////////
        ///////////////////////////////////////////////////////////////
        -->
        <div id="md-add-event" class="modal fade md-slideUp" tabindex="-1" data-width="450"  data-header-color="inverse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title"><i class="fa fa-plus"></i> Add new events</h4>
            </div>
            <!-- //modal-header-->
            <div class="modal-body" style="padding-bottom:0">
                <form id="addEvent">
                    <div class="form-group">
                        <label class="control-label">Event title </label>
                        <input type="text" class="form-control" id="event_title" name="event_title">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Color</label>
                        <div class="input-group input-icon"><i class="fa fa-dot-circle-o ico"></i>
                            <input type="text" class="form-control" id="color_select" name="color_select" />
                            <span class="input-group-btn">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-fire"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu" style="padding:0; border:0;">
                                        <li>
                                            <div id="colorpalette_events" data-return-color="#color_select"></div>
                                        </li>
                                    </ul>
                                </div><!-- //btn-group-->
                            </span> <!-- //input-group-btn-->
                        </div><!-- //input-group-->
                    </div>
                    <div class="form-group">
                        <hr>
                        <button type="submit" class="btn btn-theme">Submit Event</button>
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </form>
            </div>
            <!-- //modal-body-->
        </div>
        </section>
    </div>
</div>
<div id="content">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Event</strong> list</h2>
                    <label class="color"><em><strong>List of event</strong></em></label>
                </header>

                <div class="panel-body">
                    <form>
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped"  id="table-example">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Event Name</th>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    <tr>
                                        <td>1</td>
                                        <td>New Year</td>
                                        <td>1st Jan, 2017</td>
                                        <td>Holiday</td>
                                        <td>Happy New Year 2017</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Annual Meeting</td>
                                        <td>1st Feb, 2017</td>
                                        <td>Event</td>
                                        <td>Annual Meeting</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Customer Meet</td>
                                        <td>4th March, 2017</td>
                                        <td>Event</td>
                                        <td>Happy New Year 2017</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Thanks Giving</td>
                                        <td>5th April, 2017</td>
                                        <td>Holiday</td>
                                        <td>Happy New Year 2017</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Christmas</td>
                                        <td>31st Dec, 2017</td>
                                        <td>Holiday</td>
                                        <td>Merry Christmas 2017</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{%block extra_script%}

{%endblock%}
