{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    {%if created_information %}
        <div class="alert alert-{{alert_level}}">
            <strong>{{message_tag}}</strong><b> {{created_information}} </b>{{extra_message}}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Applied</strong> Leave List</h2>
                </header>

                <div class="panel-body">
                    <form>
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped"  id="table-example">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Name</th>
                                        <th>Employee ID</th>
                                        <th>Leave Type</th>
                                        <th>Reason</th>
                                        <th>From/To</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    <tr>
                                        <td>1</td>
                                        <td>Sabnam Tamrakar</td>
                                        <td>001</td>
                                        <td>Sick Leave</td>
                                        <td>Fever</td>
                                        <td>12th Sep, 2017 - 13th Sep, 2017</td>
                                        <td><span class="label label-success">Approved</span></td>
                                        <td>
                                            <span class="tooltip-area">
                                                <a href="editLeave?n=Sabnam Tamrakar" class="btn btn-default btn-sm" title="Update Leave Status"><i class="fa fa-pencil"></i> Update Leave Status</a>
                                            </span>
                                        </td>
                                    </tr>
                                   <tr>
                                        <td>2</td>
                                        <td>Shristi Shakya</td>
                                        <td>002</td>
                                        <td>Casual Leave</td>
                                        <td>Casual </td>
                                        <td>16th Sep, 2017 - 16th Sep, 2017</td>
                                        <td><span class="label label-danger">Rejected</span></td>
                                        <td>
                                            <span class="tooltip-area">
                                                <a href="editLeave?n=Shristi Shakya" class="btn btn-default btn-sm" title="Update Leave Status"><i class="fa fa-pencil"></i> Update Leave Status</a>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Shulov Shrestha</td>
                                        <td>045</td>
                                        <td>Sick Leave</td>
                                        <td>Fever</td>
                                        <td>12th Sep, 2017 - 13th Sep, 2017</td>
                                        <td><span class="label label-warning">Pending</span></td>
                                        <td>
                                            <span class="tooltip-area">
                                                <a href="editLeave?n=Shulov Shrestha" class="btn btn-default btn-sm" title="Update Leave Status"><i class="fa fa-pencil"></i> Update Leave Status</a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{%block extra_script%}

{%endblock%}
