{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    {%if created_information %}
        <div class="alert alert-{{alert_level}}">
            <strong>{{message_tag}}</strong><b> {{created_information}} </b>{{extra_message}}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Leave</strong> list</h2>
                     <a href="createLeave" class="btn btn-primary" style="margin-right:15px; float:right;">
                    <i class="fa fa-plus"></i> Add Leave
                </a>
                </header>

                <div class="panel-body">
                    <form>
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped"  id="table-example">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Leave Name</th>
                                        <th>Default Days</th>
                                        <th>Max.Accumulation</th>
                                        <th>Status</th>
                                        <th>LFA</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    <tr>
                                        <td>1</td>
                                        <td>Annual Leave</td>
                                        <td>21.0</td>
                                        <td>0.0</td>
                                        <td><span class="label label-success">Active</span></td>
                                        <td></td>
                                        <td>Annual Leave</td>
                                        <td>
                                            <span class="tooltip-area">
                                                <a href="editLeave2?n=Annual Leave" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)"  class="btn btn-default btn-sm btn-delete" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Medical Leave</td>
                                        <td>22.0</td>
                                        <td>0.0</td>
                                        <td><span class="label label-success">Active</span></td>
                                        <td>No</td>
                                        <td>Medical Leave</td>
                                        <td>
                                            <span class="tooltip-area">
                                                <a href="editLeave2?n=Medical Leave" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)"  class="btn btn-default btn-sm btn-delete" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Maternity Leave</td>
                                        <td>60.0</td>
                                        <td>0.0</td>
                                        <td><span class="label label-success">Active</span></td>
                                        <td>No</td>
                                        <td>Maternity Leave</td>
                                        <td>
                                            <span class="tooltip-area">
                                                <a href="editLeave2?n=Maternity Leave" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)"  class="btn btn-default btn-sm btn-delete" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Marriage Leave</td>
                                        <td>2.0</td>
                                        <td>2.0</td>
                                        <td><span class="label label-success">Active</span></td>
                                        <td>No</td>
                                        <td>Marriage Leave</td>
                                        <td>
                                            <span class="tooltip-area">
                                                <a href="editLeave2?n=Marriage Leave" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)"  class="btn btn-default btn-sm btn-delete" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% include "delete-models.html" %}
{% endblock %}

{%block extra_script%}

{%endblock%}
