{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    <div class="alert alert-success" style="display: none;">
        <strong>Success!</strong><b> Leave Report</b> file is downloaded successfully
        </div>
    <div class="row">
        <form id="formID" class="form-horizontal" data-collabel="3" data-alignlabel="left"  data-parsley-validate>
            <div class="col-lg-12" >
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2><strong>Generate</strong> Leave Report  </h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Requested By</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control"  parsley-required="true" parsley-error-container="div#select-com-error">
                                        <option value="">Please choose</option>
                                        <option value="nepal">Neiha Joshi</option>
                                        <option value="usa">Sabnam Tamrakar </option>
                                        <option value="usa">Udaya Bajracharya </option>
                                        <option value="usa">Shulov Shrestha </option>
                                        <option value="usa">Niranjan Shrestha </option>
                                    </select>
                                    <div id="select-com-error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Date From/To</label>
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="daterange" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-12">
                <section class="panel">
                    <div class="form-group offset">
                        <div class="row">
                            <div class="col-md-12">
                                <a herf="javascript:void();" class="btn btn-theme download">Generate Report</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{%block extra_script%}

{%endblock%}
