{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    {%if created_information %}
        <div class="alert alert-{{alert_level}}">
            <strong>{{message_tag}}</strong><b> {{created_information}} </b>{{extra_message}}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Designation</strong> list</h2>
                    <label class="color"><em><strong>List of designation</strong></em></label>
                <div class="header-button">
                <a href="createDesignation" class="btn btn-primary" style="margin-right:15px; float:right;">
                    <i class="fa fa-plus"></i> Add New Designation
                </a>                        </div>
                </header>

                <div class="panel-body">
                    <form>
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped"  id="table-example">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Designation</th>
                                        <th>Member</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    <tr>
                                        <td>1</td>
                                        <td>Human Resource Manager</td>
                                        <td>1</td>
                                        <td>
                                            <span class="tooltip-area">
                                                <a href="editDesignation?p=Human Resource Manager" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)"  class="btn btn-default btn-sm btn-delete" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Programmer</td>
                                        <td>6</td>
                                        <td>
                                            <span class="tooltip-area">
                                                <a href="editDesignation?p=Programmer" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)"  class="btn btn-default btn-sm btn-delete" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Project Manager</td>
                                        <td>3</td>
                                        <td>
                                            <span class="tooltip-area">
                                                <a href="editDesignation?p=Project Manager" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)"  class="btn btn-default btn-sm btn-delete" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% include "delete-models.html" %}
{% endblock %}

{%block extra_script%}

{%endblock%}
