{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    {%if created_information %}
        <div class="alert alert-{{alert_level}}">
            <strong>{{message_tag}}</strong><b> {{created_information}} </b>{{extra_message}}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Employee</strong> list</h2>
                    <label class="color"><em><strong>List of employee</strong></em></label>
                    <a href="{% url 'organization:employee_create' %}" class="btn btn-primary" style="margin-right:15px; float:right;">
                        <i class="fa fa-plus"></i> Add New Employee
                    </a>
                </header>

                <div class="panel-body">
                    <form>
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped"  id="table-example">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Photo</th>
                                        <th>Name</th>
                                        <th>Employee Id</th>
                                        <th>Email</th>
                                        <th>Department</th>
                                        <th>Designation</th>
                                        <th>Joining Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    {%for data in demo_data %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td><img src="{% static data.photo %}" alt="" class="avatar-small"></td>
                                        <td>{{data.name}}</td>
                                        <td>00{{forloop.counter}}</td>
                                        <td>{{data.email}}</td>
                                        <td>{{data.dep}}</td>
                                        <td>{{data.d}}</td>
                                        <td>{{data.j}}</td>
                                        <td widtd="10%">
                                            <span class="tooltip-area">
                                                <a href="editEmployee?p={{data.name}}" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
                                                <a href="salaryInfo?p={{data.name}}" class="btn btn-default btn-sm" title="Salary Info"><i class="fa fa-money"></i></a>
                                                <a href="viewProfile?p={{data.name}}" class="btn btn-default btn-sm" title="View Profile"><i class="fa fa-eye"></i></a>
                                                <a href="javascript:void(0)"  class="btn btn-default btn-sm btn-delete" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </span>
                                        </th>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% include "delete-models.html" %}
{% endblock %}

{%block extra_script%}

{%endblock%}
