{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    <div class="row">
        <form id="formID" class="form-horizontal" data-collabel="3" data-alignlabel="left"  data-parsley-validate method="post" action="{% url 'organization:employee_list' %}?a=Employee">
            <div class="col-lg-6" >
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2><strong>Basic</strong> Information </h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Employee ID</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true" placeholder="Username"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email  Address</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-type="email" parsley-required="true" placeholder="email"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <div class="row">
                                <div class="col-md-12"><input type="password" class="form-control" parsley-required="true" placeholder="password"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Re-Password</label>
                            <div class="row">
                                <div class="col-md-12"><input type="password" class="form-control" parsley-required="true" placeholder="re-password"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2><strong>Personal</strong> Information </h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Middle Name</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Gender</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="iCheck"  data-color="red">
                                        <li>
                                            <input type="radio" name="name-radio[]" parsley-required="true" parsley-error-container="div#radio-com-error">
                                            <label>Male</label>
                                        </li>
                                        <li>
                                            <input  type="radio" name="name-radio[]" parsley-required="true" parsley-error-container="div#radio-com-error">
                                            <label>Female</label>
                                        </li>
                                    </ul>
                                    <div id="radio-com-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2><strong>Work</strong></h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Department</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control"  parsley-required="true" parsley-error-container="div#select-com-error-2">
                                        <option value="">Please choose</option>
                                        <option value="nepal">Human Resource</option>
                                        <option value="usa">IT Department</option>
                                        <option value="usa">Account Department</option>
                                    </select>
                                    <div id="select-com-error-2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Designation</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control"  parsley-required="true" parsley-error-container="div#select-com-error-3">
                                        <option value="">Please choose</option>
                                        <option value="nepal">Human Resource Manager</option>
                                        <option value="usa">Programmer</option>
                                        <option value="usa">Accountant</option>
                                        <option value="usa">Project Manager</option>
                                    </select>
                                    <div id="select-com-error-3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Joining Date</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group date form_datetime" data-picker-position="bottom-left"  data-date-format="dd MM yyyy - HH:ii p" >
                                        <input type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-times"></i></button>
                                            <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Employee Status</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control"  parsley-required="true" parsley-error-container="div#select-com-error-4">
                                        <option value="">Please choose</option>
                                        <option value="nepal">Active</option>
                                        <option value="usa">Terminated</option>
                                        <option value="usa">Suspended</option>
                                        <option value="usa">Resign</option>
                                    </select>
                                    <div id="select-com-error-4"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Employee Type</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control"  parsley-required="true" parsley-error-container="div#select-com-error-5">
                                        <option value="">Please choose</option>
                                        <option value="nepal">Permanent</option>
                                        <option value="usa">On Contract</option>
                                        <option value="usa">Temporary</option>
                                        <option value="usa">Trainee</option>
                                    </select>
                                    <div id="select-com-error-5"></div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label">Work Phone</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Extension</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Role</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control"  parsley-required="true" parsley-error-container="div#select-com-error-6">
                                        <option value="">Please choose</option>
                                        <option value="nepal">Admin</option>
                                        <option value="usa">Team Member</option>
                                        <option value="usa">Manager</option>
                                        <option value="usa">Director</option>
                                    </select>
                                    <div id="select-com-error-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2><strong>Contact</strong> Information </h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Phone Number</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mobile Number</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Address</label>
                            <div class="row">
                                <div class="col-md-12"><textarea class="form-control" parsley-required="true"></textarea></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Country</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control"  parsley-required="true" parsley-error-container="div#select-com-error-7">
                                        <option value="">Please choose</option>
                                        <option value="nepal">Nepal</option>
                                        <option value="usa">USA</option>
                                    </select>
                                    <div id="select-com-error-7"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2 style="float:left"><strong>Work Experience</strong> </h2>
                        <a href="javascript:void(0)" class="btn btn-primary btn-add-work" style="margin-right:15px; float:right;">
                    <i class="fa fa-plus"></i>
                </a>
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Previous Company Name</th>
                                        <th>Job Tittle</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Job Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody align="center" class="work">
                                    {% for i in "123" %}
                                    <tr id="work-<?= $i;?>">
                                        <td>
                                            <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                                        </td>
                                        <td>
                                            <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                                        </td>
                                        <td>
                                            <div class="input-group date form_datetime" data-picker-position="bottom-left"  data-date-format="dd MM yyyy - HH:ii p" >
                                                <input type="text" class="form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-times"></i></button>
                                                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group date form_datetime" data-picker-position="bottom-left"  data-date-format="dd MM yyyy - HH:ii p" >
                                                <input type="text" class="form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-times"></i></button>
                                                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)"  class="btn btn-default btn-sm delete_row" title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2 style="float:left"><strong>Education</strong> </h2>
                        <a href="javascript:void(0)" class="btn btn-primary btn-add-education" style="margin-right:15px; float:right;">
                    <i class="fa fa-plus"></i>
                </a>
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>School Name</th>
                                        <th>Degree</th>
                                        <th>Field of Study</th>
                                        <th>Date of Completion</th>
                                        <th>Additional Notes</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody align="center"class="education">
                                     {% for i in "123" %}
                                    <tr>
                                        <td>
                                            <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                                        </td>
                                        <td>
                                            <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                                        </td>
                                        <td>
                                            <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                                        </td>
                                        <td>
                                            <div class="input-group date form_datetime" data-picker-position="bottom-left"  data-date-format="dd MM yyyy - HH:ii p" >
                                                <input type="text" class="form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-times"></i></button>
                                                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)"  class="btn btn-default btn-sm delete_row" title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6" >
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2 style="float:left"><strong>Earning</strong></h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Basic Salary</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true" placeholder=""></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Basic Allowance</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control"  parsley-required="true" placeholder=""></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Travel Allowance</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true" placeholder=""></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Home Rent</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true" placeholder=""></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2 style="float:left"><strong>Deduction</strong></h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">PF</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">CIT</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Insurance</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tax</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">SSTAX</label>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="form-control" parsley-required="true"></div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading sm">
                        <h2><strong>Other</strong> </h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Activation Method</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control"  parsley-required="true" parsley-error-container="div#select-com-error-1">
                                        <option value="">Please choose</option>
                                        <option value="nepal">Automatic</option>
                                        <option value="usa">Send Email</option>
                                    </select>
                                    <div id="select-com-error-1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Active</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <ul class="widget-slide-setting">
                                        <li>
                                            <div class="ios-switch theme pull-left">
                                                <div class="switch"><input type="checkbox" name="option"></div>
                                            </div>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-12">
                <section class="panel">
                    <div class="form-group offset">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-theme">Submit</button>
                                <button type="reset" class="btn" onclick="$('#formID').parsley('destroy')"> Reset form</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{%block extra_script%}

{%endblock%}
