{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-4 no-padding">
                <div class="well bg-sale">
                    <div class="widget-tile">
                        <section>
                            <h5><strong>Employee</strong> Total </h5>
                            <h2><strong>20</strong></h2>
                            <div class="progress progress-xs progress-white progress-over-tile">
                                <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="8590" aria-valuemax="10000"></div>
                            </div>
                            <label class="progress-label label-white"> Just 1410 member to limit , <a href="#">Upgrade Now</a> </label>

                        </section>
                        <div class="hold-icon"><i class="fa fa-users"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no-padding">
                <div class="well bg-revenue">
                    <div class="widget-tile">
                        <section>
                            <h5><strong>Check In User</strong> Today </h5>
                            <h2><strong>8/10</strong></h2>
                            <div class="progress progress-xs progress-white progress-over-tile">
                                <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="8590" aria-valuemax="10000"></div>
                            </div>
                            <label class="progress-label label-white"> Just 1410 member to limit , <a href="#">Upgrade Now</a> </label>

                        </section>
                        <div class="hold-icon"><i class="fa fa-clock-o"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no-padding">
                <div class="well bg-inbox">
                    <div class="widget-tile">
                        <section>
                            <h5><strong>Inbox</strong> Unread Messages </h5>
                            <h2><strong>21</strong></h2>
                            <div class="progress progress-xs progress-white progress-over-tile">
                                <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="8590" aria-valuemax="10000"></div>
                            </div>
                            <label class="progress-label label-white"> Just 1410 member to limit , <a href="#">Upgrade Now</a> </label>

                        </section>
                        <div class="hold-icon"><i class="fa fa-envelope"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <section class="panel corner-flip">
                <div class="widget-chart bg-lightseagreen bg-gradient-green bg-blue">
                    <div id="reportrange" class="pull-right" style="background: rgba(255,255,255,0.3); color:#FFF; cursor: pointer; padding: 5px 10px 10px; margin-top:5px;">
                        <span>
                        </span>
                        <b class="caret"></b>
                    </div>
                    <h2>Recuritment</h2>
                    <table class="flot-chart" data-type="lines" data-tick-color="rgba(255,255,255,0.2)" data-width="100%" data-height="220px">
                        <thead>
                            <tr>
                                <th></th>
                                <th style="color : #FFF;">Test</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>JAN</th>
                                <td>4295</td>
                            </tr>
                            <tr>
                                <th>FEB</th>
                                <td>5145</td>
                            </tr>
                            <tr>
                                <th>MAR</th>
                                <td>1015</td>
                            </tr>
                            <tr>
                                <th>APR</th>
                                <td>2500</td>
                            </tr>
                            <tr>
                                <th>MAY</th>
                                <td>0</td>
                            </tr>
                            <tr>
                                <th>JUN</th>
                                <td>15700</td>
                            </tr>
                            <tr>
                                <th>JUL</th>
                                <td>2315</td>
                            </tr>
                            <tr>
                                <th>AUG</th>
                                <td>200</td>
                            </tr>
                            <tr>
                                <th>SEP</th>
                                <td>5605</td>
                            </tr>
                            <tr>
                                <th>OCT</th>
                                <td>1900</td>
                            </tr>
                            <tr>
                                <th>NOV</th>
                                <td>1900</td>
                            </tr>
                            <tr>
                                <th>DEC</th>
                                <td>1900</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class="col-lg-4">

            <section class="panel">
                <div class="widget-friend clearfix">
                    <ul class="circle clearfix">
                        <li>Employee</li>
                        <li class="online" title="zicdemo"><img alt="" src="{% static 'assets/img/neiha-joshi.jpg' %}"></li>
                        <li class="online"><img alt="" src="{% static 'assets/img/sabnam-tamrakar.jpg' %}"></li>
                        <li><img alt="" src="{% static 'assets/img/shristi-shakya.jpg' %}"></li>
                        <li class="online"><img alt="" src="{% static 'assets/img/avatar.png' %}"></li>
                        <li><img alt="" src="{% static 'assets/img/udaya-bajracharya.jpg' %}"></li>
                        <li class="busy"><img alt="" src="{% static 'assets/img/avatar.png' %}"></li>
                        <li class="online"><img alt="" src="{% static 'assets/img/avatar.png' %}"></li>
                        <li class="online"><img alt="" src="{% static 'assets/img/avatar.png' %}"></li>
                        <li><a href="createEmployee"><i class="fa fa-plus"></i></a></li>
                    </ul>
                </div>
                <footer class="panel-footer align-lg-right">
                    <a href="employeeList">+ 8 more</a>
                </footer>
            </section>

        </div>
    </div>
</div>
{% endblock %}

{%block extra_script%}

{%endblock%}
