<div id="md-delete" class="modal md-slideUp fade" tabindex="-1" data-width="450">
    <div class="modal-header bg-inverse bd-inverse-darken">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Confirm Delete?</h4>
    </div>
    <!-- //modal-header-->
    <div class="modal-body">
        <p>Are you sure you want to delete?</p>
        <a href="javascript:void(0)" class="btn btn-danger delete_confirm">Confirm</a>
        <a href="javascript:void(0)" class="btn btn-info delete_cancel">Cancel</a>
    </div>
    <!-- //modal-body-->
</div>
