{% load staticfiles %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <!-- Title-->
        <title>Rosebay</title>
        <!-- CSS Stylesheet-->
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap-themes.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    </head>
    <body>
        <div id="wrapper">
          <div id="header">
              <div class="logo-area clearfix">
                  <a href="#" class="logo"></a>
              </div>
              <div class="tools-bar">
                  <ul class="nav navbar-nav nav-main-xs">
                      <li><a href="#menu" class="icon-toolsbar"><i class="fa fa-bars"></i></a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right tooltip-area">
                      <li class="small-notify"><a href="#menu-right" data-toggle="tooltip" title="" data-container="body" data-placement="left" ><i class="fa fa-bell"></i><span class="badge">3</span></a></li>
                      <li><a href="#" class=" avatar-header" data-toggle="tooltip" title="Show / hide  menu" data-container="body" data-placement="bottom">
                              <img alt="" src="{% static 'assets/img/avatar.png' %}"  class="circle">
                          </a>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                              <em><span><strong>Hi</strong>, Shulov Shrestha</span> <small>Account Settings</small> </em> <i class="dropdown-icon fa fa-angle-down"></i>
                          </a>
                          <ul class="dropdown-menu pull-right icon-right arrow">
                              <li><a href="viewProfile?p=Shulov Shrestha"><i class="fa fa-user"></i> Profile</a></li>
                              <li class="divider"></li>
                              <li><a href="/emp"><i class="fa fa-sign-out"></i> Signout </a></li>
                          </ul>
                      <li class="visible-lg">
                          <a href="#" class="h-seperate fullscreen" data-toggle="tooltip" title="Full Screen" data-container="body"  data-placement="left">
                              <i class="fa fa-expand"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <div id="main">
              <ol class="breadcrumb">
                  <li class="active"><i class="fa fa-laptop"></i> Dashboard</li>
              </ol>
              {% block content %}
              {% endblock %}
              <footer id="site-footer">
                  <section>Â© Copyright 2017, By frenzYard Software</section>
              </footer>
          </div>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="{% url 'dashboard:index' %}"><i class="icon  fa fa-laptop"></i>Dashboard</a></li>
                <li><span><i class="icon  fa fa-building"></i>Organization</span>
                    <ul>
                        <li class="Label label-lg">Organization</li>
                        <li><a href="{% url 'organization:employee_list' %}">Employee</a></li>
                        <li><a href="{% url 'organization:department_list' %}">Department</a></li>
                        <li><a href="{% url 'organization:designation_list' %}">Designation</a></li>
                    </ul>
                </li>
                <li><span><i class="icon  fa fa-clock-o"></i>Attendance</span>
                    <ul>
                        <li class="Label label-lg">Attendance</li>
                        <li><a href="{% url 'attendance:attendance_view' %}">View</a></li>
                        <li><a href="{% url 'attendance:event_calender_view' %}">Event Calender</a></li>
                        <li><a href="{% url 'attendance:overtime_view' %}">Over Time Request</a></li>
                    </ul>
                </li>
                <li><span><i class="icon  fa fa-calendar-o"></i>Leave Management</span>
                    <ul>
                        <li class="Label label-lg">Leave Management</li>
                        <li><a href="{% url 'leave_management:leave_list' %}">Leave List</a></li>
                        <li><a href="{% url 'leave_management:applied_leave_list' %}">Applied Leave</a></li>
                        <li><a href="{% url 'leave_management:leave_report' %}">Leave Report</a></li>
                    </ul>
                </li>
                <li><span><i class="icon  fa fa-money"></i>Payroll Management</span>
                    <ul>
                        <li class="Label label-lg">Payroll Management</li>
                        <li><a href="{% url 'payroll_management:payroll_list' %}">Payroll</a></li>
                        <li><a href="{% url 'payroll_management:upload_salary_sheet' %}">Upload Salary Sheet</a></li>
                        <li><a href="{% url 'payroll_management:payroll_setting' %}">Payroll Setting</a></li>
                        <li><a href="{% url 'payroll_management:tax_amount_setting' %}">Tax Amount Setting</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Jquery Library -->
        <script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/jquery.ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- Modernizr Library For HTML5 And CSS3 -->
        <script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/plugins/mmenu/jquery.mmenu.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/styleswitch.js' %}"></script>
        <!-- Library 10+ Form plugins-->
        <script type="text/javascript" src="{% static 'assets/plugins/form/form.js' %}"></script>
        <!-- Datetime plugins -->
        <script type="text/javascript" src="{% static 'assets/plugins/datetime/datetime.js' %}"></script>
        <!-- Library Chart-->
        <script type="text/javascript" src="{% static 'assets/plugins/chart/chart.js' %}"></script>
        <!-- Library  5+ plugins for bootstrap -->
        <script type="text/javascript" src="{% static 'assets/plugins/pluginsForBS/pluginsForBS.js' %}"></script>
        <!-- Library 10+ miscellaneous plugins -->
        <script type="text/javascript" src="{% static 'assets/plugins/miscellaneous/miscellaneous.js' %}"></script>
        <!-- Library Themes Customize-->
        <script type="text/javascript" src="{% static 'assets/js/caplet.custom.js' %}"></script>

        <script src="{% static 'assets/plugins/fullcalendar/fullcalendar.js' %}"></script>
        <link href="{% static 'assets/plugins/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
        <script type="text/javascript" src="{% static 'assets/plugins/datable/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/plugins/datable/dataTables.bootstrap.js' %}"></script>
        {% block extra_script %}
        {% endblock %}
        <script type="text/javascript">
            $(function () {
                var p = '';
                $('body').on('click', '.btn-delete', function (e) {
                   e.preventDefault();
                $('#md-delete').modal('toggle');
                p =  $(this);

                });
                $('body').on('click', '.delete_confirm', function() {
                    $('#md-delete').modal('toggle');
                    console.log(p);
                   $(p).parent().parent().parent().remove();
                });

                $('body').on('click', '.delete_row', function() {
                    $('form').parsley().destroy();
                   $(this).parent().parent().remove();
                   $('form').parsley();
                });

                $('body').on('click', '.btn-add-work', function (e) {
                    $('form').parsley().destroy();
                    var html='<tr>';
                    html+= $('.work > tr:nth-child(1)').html();
                    html+='</tr>';

                    $(".work").append(html);
                    $('form').parsley();
                });

                $('body').on('click', '.btn-add-education', function (e) {
                    $('form').parsley().destroy();
                    var html='<tr>';
                    html+= $('.education > tr:nth-child(1)').html();
                    html+='</tr>';

                    $(".education").append(html);
                    $('form').parsley();
                });

                $('body').on('click', '.add-brc', function (e) {
                    var html = '<div class="form-group">';
                    html+= '<div class="col-md-3"><input type="text" class="form-control" parsley-required="true" placeholder="Bracket Name"></div>\n\
                            <div class="row col-md-9">';
                    html+= '<div class="col-md-12">';
                    html+= '<div class="input-group">';
                    html+= '<input type="text" class="form-control" parsley-required="true"  value=""placeholder="Bracket Value">';
                    html+= '<span class="input-group-addon">%</span>';
                    html+= '</div></div></div></div>';
                    $('.brc').append(html);
                });
                $('body').on('click', '.edit-brc', function (e) {
                    $('input').removeAttr("disabled");
                });


                $('body').on('click', '.edit-dep', function (e) {
                    $('table tr td').attr('contenteditable','true');
                    $('.editrow').slideDown();
                });
                $('body').on('click', '.add-dep', function (e) {
                    var html='<tr>';
                    html+= '<td><input type="text" style="width: 100%;padding: 10px;"/></td>';
                    html+= '<td><input type="text" style="width: 100%;padding: 10px;"/></td>';
                    html+= '<td><input type="text" style="width: 100%;padding: 10px;"/></td>';
                    html+= '<td><input type="text" style="width: 100%;padding: 10px;"/></td>';
                    html+='</tr>';

                    $(".dep").append(html);
                });

                $('.download').click(function(e) {
                  e.preventDefault();  //stop the browser from following
                  window.location.href = 'assets/Leave-Report.xlsm';
                  $('.alert').slideDown();
                })
                //Login animation to center
                function toCenter() {
                    var mainH = $("#main").outerHeight();
                    var accountH = $(".account-wall").outerHeight();
                    var marginT = (mainH - accountH) / 2;
                    if (marginT > 30) {
                        $(".account-wall").css("margin-top", marginT - 15);
                    } else {
                        $(".account-wall").css("margin-top", 30);
                    }
                }
                toCenter();
                var toResize;
                $(window).resize(function (e) {
                    clearTimeout(toResize);
                    toResize = setTimeout(toCenter(), 500);
                });


                $("#form-signin").submit(function (event) {
                    event.preventDefault();
                    var main = $("#main");
                    //scroll to top
                    main.animate({
                        scrollTop: 0
                    }, 500);
                    main.addClass("slideDown");

                    // send username and password to php check login
                    $.ajax({
                        url: "data/checklogin.php", data: $(this).serialize(), type: "POST", dataType: 'json',
                        success: function (e) {
                            setTimeout(function () {
                                main.removeClass("slideDown")
                            }, !e.status ? 500 : 3000);
                            if (!e.status) {
                                $.notific8('Check Username or Password again !! ', {life: 5000, horizontalEdge: "bottom", theme: "danger", heading: " ERROR :); "});
                                return false;
                            }
                            setTimeout(function () {
                                $("#loading-top span").text("Yes, account is access...")
                            }, 500);
                            setTimeout(function () {
                                $("#loading-top span").text("Redirect to account page...")
                            }, 1500);
                            setTimeout("window.location.href='dashboard'", 3100);
                        }
                    });

                });
            });
        </script>
        <script type="text/javascript">
            function fnShowHide(iCol, table) {
                var oTable = $(table).dataTable();
                var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
                oTable.fnSetColumnVis(iCol, bVis ? false : true);
            }

            $(function () {

                //////////     DATA TABLE  COLUMN TOGGLE    //////////
                $('[data-table="table-toggle-column"]').each(function (i) {
                    var data = $(this).data(),
                            table = $(this).data("table-target"),
                            dropdown = $(this).parent().find(".dropdown-menu"),
                            col = new Array;
                    $(table).find("thead th").each(function (i) {
                        $("<li><a  class='toggle-column' href='javascript:void(0)' onclick=fnShowHide(" + i + ",'" + table + "') ><i class='fa fa-check'></i> " + $(this).text() + "</a></li>").appendTo(dropdown);
                    });
                });

                //////////     COLUMN  TOGGLE     //////////
                $("a.toggle-column").on('click', function () {
                    $(this).toggleClass("toggle-column-hide");
                    $(this).find('.fa').toggleClass("fa-times");
                });

                // Call dataTable in this page only
                $('#table-example').dataTable();
                $('table[data-provide="data-table"]').dataTable();
            });
        </script>
        <script>
            $(document).ready(function () {
                $('#rootwizard').bootstrapWizard({
                    tabClass: "nav-wizard",
                    onTabShow: function (tab, navigation, index) {
                        tab.prevAll().addClass('completed');
                        tab.nextAll().removeClass('completed');
                        if (tab.hasClass("active")) {
                            tab.removeClass('completed');
                        }
                        var $total = navigation.find('li').length;
                        var $current = index + 1;
                        var $percent = ($current / $total) * 100;
                        $('#rootwizard').find('.progress-bar').css({width: $percent + '%'});
                        $('#rootwizard').find('.wizard-status span').html($current + " / " + $total);
                    }
                });

                $('#validate-wizard').bootstrapWizard({
                    tabClass: "nav-wizard",
                    onNext: function (tab, navigation, index) {
                        var content = $('#step' + index);
                        if (typeof content.attr("parsley-validate") != 'undefined') {
                            var $valid = content.parsley('validate');
                            if (!$valid) {
                                return false;
                            }
                        }
                        ;
                        // Set the name for the next tab
                        $('#step4 h3').find("span").html($('#fullname').val());
                    },
                    onTabClick: function (tab, navigation, index) {
                        $.notific8('Please click <strong>next button</strong> to wizard next step!! ', {life: 5000, theme: "danger", heading: " Wizard Tip :); "});
                        return false;
                    },
                    onTabShow: function (tab, navigation, index) {
                        tab.prevAll().addClass('completed');
                        tab.nextAll().removeClass('completed');
                        if (tab.hasClass("active")) {
                            tab.removeClass('completed');
                        }
                        var $total = navigation.find('li').length;
                        var $current = index + 1;
                        var $percent = ($current / $total) * 100;
                        $('#validate-wizard').find('.progress-bar').css({width: $percent + '%'});
                        $('#validate-wizard').find('.wizard-status span').html($current + " / " + $total);
                    }
                });

            });
        </script>
        <script>
        	$(document).ready(function() {

        		var date = new Date();
        		var d = date.getDate();
        		var m = date.getMonth();
        		var y = date.getFullYear();

        		$("#addEvent").submit(function(event){
        			event.preventDefault();
        			if($("#event_title").val()){
        				var events=$('<span class="external-event  label" data-color="'+$("#color_select").val()+'">'+$("#event_title").val() +'</span>');
        				events.css({'background-color': $("#color_select").val() || "#CCC" , 'margin-right': "3px"});
        				$("#external-events").append(events);
        				$("#external-events span.external-event").draggable({
        					zIndex: 999,
        					revert: true,
        					revertDuration: 0 ,
        					drag: function() { $("#slide-trash").addClass("active") },
        					stop: function() { $("#slide-trash").removeClass("active") }
        				});
        				$(this)[0].reset();
        				$('#md-add-event').modal('hide');
        			}else{
        				$.notific8('Please enter <strong>event  title</strong> ',{ life:5000, theme:"danger" ,heading:"ERROR :);" });
        				$("#event_title").focus();
        			}
        		});
        		$('#external-events span.external-event').draggable({
        				zIndex: 999,
        				revert: true,
        				revertDuration: 0 ,
        				drag: function() { $("#slide-trash").addClass("active") },
        				stop: function() { $("#slide-trash").removeClass("active") }
        		});

        	    $( "#slide-trash" ).droppable({
        		 accept: "#external-events span.external-event , .fc-event",
        		 hoverClass: "active-hover",
        		 drop: function( event, ui ) {
        			 ui.draggable.remove();
        			 $(this).removeClass( "active" );
        		 }
        	    });
        		var isElemOverDiv = function(draggedItem, dropArea) {
        			// Prep coords for our two elements
        			var a = $(draggedItem).offset;
        			a.right = $(draggedItem).outerWidth + a.left;
        			a.bottom = $(draggedItem).outerHeight + a.top;

        			var b = $(dropArea).offset;
        			a.right = $(dropArea).outerWidth + b.left;
        			a.bottom = $(dropArea).outerHeight + b.top;

        			// Compare
        			if (a.left >= b.left
        				&& a.top >= b.top
        				&& a.right <= b.right
        				&& a.bottom <= b.bottom) { return true; }
        			return false;
        		}
        		$('#calendar').fullCalendar({
              /*			  eventClick: function(calEvent, jsEvent, view) {

        				  alert('Event: ' + calEvent._id);
        				  alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
        				  alert('View: ' + view.name);
        				$(this).fullCalendar('removeEvents',calEvent._id);
        				  // change the border color just for fun
        				//  $(this).css('border-color', 'red');

        			    },*/
        			eventDragStop: function(event, jsEvent, ui, view) {
        				var x = isElemOverDiv(ui, $('#slide-trash'));
        				alert(x);
        				if (x) {
        					alert("delete");
        					$('#calendar').fullCalendar('removeEvents', event.id);
        				}
        			},
        			header: {
        				left: 'title',
        				center: '',
        				right: ''
        			},
        			editable: true,
        			droppable: true,
        			events: [
        				{
        					title: 'Holiday',
        					start: new Date(y, m, 1),
        					end: new Date(y, m, 1),
        					color:"#f35958"
        				},
        				{
        					title: 'Event',
        					start: new Date(y, m, 2),
        					end: new Date(y, m, 2),
        					color:"#1bc6b0"
        				},
        				{
        					title: 'Holiday',
        					start: new Date(y, m, 3),
        					end: new Date(y, m, 3),
        					color:"#f35958"
        				},
                                        {
        					title: 'Holiday',
        					start: new Date(y, m, 13),
        					end: new Date(y, m, 16),
        					color:"#f35958"
        				},
                                        {
        					title: 'Exebition',
        					start: new Date(y, m, 3),
        					end: new Date(y, m, 3),
        					color:"#FFCC33"
        				},
                                        {
        					title: 'Exebition and fairs',
        					start: new Date(y, m, 10),
        					end: new Date(y, m, 11),
        					color:"#FFCC33"
        				},

        			],
        			drop: function(date, allDay) {
                                var  copiedEventObject = {
                                        title: $(this).text(),
                                        start: date,
                                        allDay: allDay,
                                        color: $(this).css('background-color')
                                    };
        				$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
        				$(this).remove();
        			}
        		});
        		$(".change-view").click(function(){
        			 var data=$(this).data();
        			$('#calendar').fullCalendar( 'changeView', data.view );
        		});
        		$(".change-today").click(function(){
        			$('#calendar').fullCalendar( 'today' );
        		});
        		$(".change").click(function(){
        			  var data=$(this).data();
        			$('#calendar').fullCalendar( data.change );
        		});

        	});

        </script>
    </body>
</html>
