{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <!-- Title-->
        <title>Rosebay</title>
        <!-- CSS Stylesheet-->
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap-themes.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    </head>
    <body class="full-lg">
        <div id="wrapper">
            <div id="loading-top">
                <div class="site-loader-small"></div>
                <span>Validating Username & Password </span>
            </div>
            <div id="main" class="login-screen">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="account-wall">
                                <section class="align-lg-center">
                                    <div class="site-logo"></div>
                                    <h1 class="login-title"><span>wel</span>come <small> Rosebay HRIS Staff Panel</small></h1>
                                </section>
                                <form id="form-signin" class="form-signin" action="" method="POST">
                                  {% csrf_token %}
                                    <section>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input  type="text" class="form-control" name="username" placeholder="Username">
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                            <input type="password" class="form-control"  name="password" placeholder="Password">
                                        </div>
                                        <section class="clearfix">
                                            <div class="iCheck pull-left"  data-color="pink">
                                                <input type="checkbox" checked>
                                                <label class="white-label">Remember</label>
                                            </div>
                                            <a href="forgotpassword" class="pull-right help">Forget Password? </a>
                                        </section>
                                        <button class="btn btn-lg btn-theme-transparent btn-block" type="submit" id="sign-in">Sign in</button>
                                    </section>

                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="account-wall">
                                <a href="#" class="footer-link">&copy; 2017 Rosebay Consult &trade; </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Jquery Library -->
        <script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/jquery.ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- Modernizr Library For HTML5 And CSS3 -->
        <script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/plugins/mmenu/jquery.mmenu.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/styleswitch.js' %}"></script>
        <!-- Library 10+ Form plugins-->
        <script type="text/javascript" src="{% static 'assets/plugins/form/form.js' %}"></script>
        <!-- Datetime plugins -->
        <script type="text/javascript" src="{% static 'assets/plugins/datetime/datetime.js' %}"></script>
        <!-- Library Chart-->
        <script type="text/javascript" src="{% static 'assets/plugins/chart/chart.js' %}"></script>
        <!-- Library  5+ plugins for bootstrap -->
        <script type="text/javascript" src="{% static 'assets/plugins/pluginsForBS/pluginsForBS.js' %}"></script>
        <!-- Library 10+ miscellaneous plugins -->
        <script type="text/javascript" src="{% static 'assets/plugins/miscellaneous/miscellaneous.js' %}"></script>
        <!-- Library Themes Customize-->
        <script type="text/javascript" src="{% static 'assets/js/caplet.custom.js' %}"></script>

        <script src="{% static 'assets/plugins/fullcalendar/fullcalendar.js' %}"></script>
        <link href="{% static 'assets/plugins/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
        <script type="text/javascript" src="{% static 'assets/plugins/datable/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/plugins/datable/dataTables.bootstrap.js' %}"></script>
        <script type="text/javascript">
            $(function () {
                var p = '';
                //Login animation to center
                function toCenter() {
                    var mainH = $("#main").outerHeight();
                    var accountH = $(".account-wall").outerHeight();
                    var marginT = (mainH - accountH) / 2;
                    if (marginT > 30) {
                        $(".account-wall").css("margin-top", marginT - 15);
                    } else {
                        $(".account-wall").css("margin-top", 30);
                    }
                }
                toCenter();
                var toResize;
                $(window).resize(function (e) {
                    clearTimeout(toResize);
                    toResize = setTimeout(toCenter(), 500);
                });


                $("#form-signin").submit(function (event) {
                    event.preventDefault();
                    var main = $("#main");
                    //scroll to top
                    main.animate({
                        scrollTop: 0
                    }, 500);
                    main.addClass("slideDown");

                    // send username and password to php check login
                    $.ajax({
                        url: "/login-validation/", data: $(this).serialize(), type: "POST", dataType: 'json',
                        success: function (e) {
                            setTimeout(function () {
                                main.removeClass("slideDown")
                            }, !e.status ? 500 : 3000);
                            if (!e.status) {
                                $.notific8('Check Username or Password again !! ', {life: 5000, horizontalEdge: "bottom", theme: "danger", heading: " ERROR :); "});
                                return false;
                            }
                            setTimeout(function () {
                                $("#loading-top span").text("Yes, account is access...")
                            }, 500);
                            setTimeout(function () {
                                $("#loading-top span").text("Redirect to account page...")
                            }, 1500);
                            setTimeout("window.location.href='/'", 3100);
                        }
                    });

                });
            });
        </script>
    </body>
</html>
